.chat-container {
    
    width: 100%;
    max-width: 350px;
    height: 80vh;
    max-height: 500px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    position: fixed;
    bottom: 4.2rem;
    right: 2rem;
    left: auto;
    z-index: 1050;
    
}
 
 

@media (max-width: 768px) {
  .chat-container {
    width: 90%;
    max-height: 90vh;
    height: 80vh;
    bottom: 5rem; 
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    margin: 0 auto;
    border-radius: 12px;
    
  }
 
}
 

.chat-box {
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 0.5rem;
}
 

.chat-box::-webkit-scrollbar {
    width: 6px;
}
 
.chat-box::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

@media (max-width: 576px) {
    .chat-box::-webkit-scrollbar {
        display: none;
    }
}
 
 